{% extends 'layout.html'%} {% block title %}Accessories{% endblock %}
{% block main %}
<ul class="nav flex-column col-4">
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">sheet moss</a>
  </li>
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">Bonsai Pots</a>
  </li>
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">basic Root hook</a>
  </li>
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">Bonsai Turntable</a>
  </li>
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">Grafting knife</a>
  </li>
  <li class="nav-item p-3">
    <a class="btn btn-primary" href="#">Figurines</a>
  </li>
</ul>

<a class="btn btn-success mx-auto d-block" href="/"
  >Back to Home</a
>
{% endblock %}
