{% extends 'layout.html'%} {% block title %}Bonsai House{% endblock %}
{% block main %}
<form action="/changepassword" method="POST">
    <input autocomplete="off" autofocus class="form-control mb-3 mx-auto w-auto" name="oldpassword" placeholder="Type your current password" type="password">
    <input autocomplete="off" class="form-control mx-auto mb-3 w-auto" name="newpassword" placeholder="Type your new Password" type="password">
    <input autocomplete="off" class="form-control mx-auto mb-3 w-auto" name="newconfirmation" placeholder="Confirm new Password" type="password">
    <button class="btn btn-success" type="submit">Change password</button>
</form>

{% endblock %}