{% extends 'layout.html'%} {% block title %}Bonsai House{% endblock %}
{% block main %}
<div class="row container-fluid">
    <div class="col-6 p-5 card mx-auto">
      <h2 class="card-title">Buy Bonsai plants and Trees online</h2>
      <p class="card-text">
        Choose from a Hundreds of Bonsai Plants & Get Home Delivery in 2-5
        Days.
      </p>
      <a class="btn btn-success" href="/shop">Shop Now</a>
    </div>
    <img
      id="home"
      src="https://thumbs.dreamstime.com/b/ficus-ginseng-bonsai-white-plantpot-retusa-plant-pot-176781664.jpg"
      class="col-6 img-thumbnail img-fluid"
      alt="Bonsai plant image"
    />
  </div>
{% endblock %}