<!DOCTYPE html>

<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link href="/static/styles.css" rel="stylesheet" />
    <title>{% block title%}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <nav class="bg-success border navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand h1 text-white my-3" href="/">Bonsai House</a>
        <button
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbar"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/bonsai">Bonsai</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ's</a>
            </li>
          </ul>
          {% if session["user_id"] %}
          <ul class="navbar-nav ms-auto mt-2">
            {% if session['user_id']==1 %}
            <div class="dropdown">
              <button
                type="button"
                class="nav-link btn btn-light m-1 text-dark dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Manage
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/addproduct">Add Product</a></li>
                <li>
                  <a class="dropdown-item" href="/removeproduct"
                    >Remove product</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/messages">Messages</a>
                </li>
              </ul>
            </div>
            {% endif %}
            <div class="dropdown">
              <button
                type="button"
                class="nav-link btn btn-light m-1 text-dark dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                My Account
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/history">My Orders</a></li>
                <li>
                  <a class="dropdown-item" href="/changepassword"
                    >Change Password</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/contactus">Contact Us</a>
                </li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link btn btn-light m-1 text-dark" href="/cart"
                >My cart</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-light m-1 text-dark" href="/logout"
                >Log Out</a
              >
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto mt-2">
            <li class="nav-item">
              <a class="nav-link btn btn-light m-1 text-dark" href="/register"
                >Register</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-light m-1 text-dark" href="/login"
                >Log In</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="container-fluid py-5 text-center">
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
